ion-slides {
  background-color: white;
  height: 100%;
  max-width: 800px;
}

.swiper-slide {
  display: block;
  background-color: white;
  margin-bottom: 64px;
  margin-top: 50px;
}
.img-slide {
  max-height: 50%;
  max-width: 60%;
  margin: 64px 0;
}
ion-slide > ion-icon{
  color: #abd16e; 
  font-size: 48px;
}
ion-slide > ion-icon[name="close"] {
  float: right;
  color: var(--ion-color-primary);
  font-size: 48px;
}
