<ion-content padding>
  <ion-slides pager="true" [options]="slideOps">
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <img class="img-slide" src="assets/img/logo.png" alt="FuRinKaZan">
      <h1>Escucha tu musica <br> donde quieras n.n</h1>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Escucha a Todo mundo </h1>
      <h2> tu movil </h2>
    </ion-slide>
    <ion-slide>
      <h1> Hecho con </h1>
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="logo-angular"></ion-icon>
      <ion-icon name="logo-ionic"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
